
.form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
.button{
    float: left;
}
.title{
    color: #16213E;
}
.radio{

}
.radioOne{
    width: 100px;
    float: left;
}
.radioTwo{
    margin-left: 50px;
    width: 100px;
    float: left;
}