.wrapper {
    padding: 70px 80px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    background-color: #fff;
    box-shadow: 0 20px 40px -5px rgba(rgb(46, 46, 46), .3);
    border-radius: 25px;
    position: fixed;
  }

.button{
    float: right;
}
.closeButton{
    width: 75px;
    height: 30px;
    border: 2px solid #E94560;
    font-weight: 600;
    color: #E94560;
    // margin: 0 auto 0 auto;
    background: none;
    cursor: pointer;
    border-radius: 7.5px;
}
.closeButton:hover{
    color: #fff;
    background-color: #E94560;
}
